{
    "extends": ["next", "prettier"],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaFeatures": {
            "experimentalObjectRestSpread": true,
            "jsx": true
        },
        "sourceType": "module",
        "project": "./tsconfig.json"
    },
    "plugins": ["@typescript-eslint", "prettier"],
    "rules": {
        "@next/next/no-img-element": "off",
        "max-len": [
            "warn",
            {
                "code": 120,
                "ignoreStrings": true,
                "ignoreTemplateLiterals": true,
                "ignoreComments": true
            }
        ],
        "react-hooks/rules-of-hooks": "error",
        "react-hooks/exhaustive-deps": "warn",
        "react/jsx-filename-extension": [
            1,
            {
                "extensions": [".tsx"]
            }
        ],
        "import/prefer-default-export": "off",
        "import/extensions": [
            "error",
            "ignorePackages",
            {
                "ts": "never",
                "tsx": "never"
            }
        ],
        "import/no-extraneous-dependencies": "off",
        "unicorn/filename-case": "off",
        "no-use-before-define": "off",
        "@typescript-eslint/explicit-module-boundary-types": "off",
        "unicorn/prevent-abbreviations": "off",
        "@typescript-eslint/ban-types": "off",
        "no-console": "off",
        "class-methods-use-this": "off",
        "@typescript-eslint/ban-ts-comment": "off",
        "@typescript-eslint/no-explicit-any": "off",
        "no-plusplus": "off",
        "unicorn/no-null": "off",
        "no-shadow": "off",
        "no-underscore-dangle": "off",
        "unicorn/no-useless-undefined": "off",
        "@typescript-eslint/comma-dangle": ["error", "never"],
        "@typescript-eslint/no-use-before-define": "off",
        "react/jsx-max-props-per-line": [
            "error",
            {
                "maximum": 10,
                "when": "multiline"
            }
        ],
        "react/destructuring-assignment": "off",
        "react/display-name": "off",
        "implicit-arrow-linebreak": "off",
        "react/require-default-props": "off",
        "naming-convention": "off",
        "@typescript-eslint/naming-convention": [
            "error",
            {
                "selector": "variable",
                "format": ["camelCase", "UPPER_CASE", "PascalCase", "snake_case"],
                "leadingUnderscore": "allow",
                "trailingUnderscore": "allow"
            },
            {
                "selector": "function",
                "format": ["PascalCase", "camelCase"],
                "leadingUnderscore": "allow",
                "trailingUnderscore": "allow"
            },
            {
                "selector": "enumMember",
                "format": ["UPPER_CASE"]
            },
            {
                "selector": "property",
                "format": null
            },
            {
                "selector": "typeLike",
                "format": ["PascalCase"]
            },
            {
                "selector": "accessor",
                "format": ["PascalCase"]
            },
            {
                "selector": "default",
                "format": ["camelCase", "PascalCase"],
                "leadingUnderscore": "allow",
                "trailingUnderscore": "allow"
            }
        ],
        "no-restricted-syntax": "off",
        "no-await-in-loop": "off",
        "unicorn/consistent-function-scoping": "off",
        "unicorn/no-reduce": "off",
        "default-case": ["error", { "commentPattern": "^skip\\sdefault$" }],
        "consistent-return": "off",
        "jsx-a11y/anchor-is-valid": "off",
        "unicorn/prefer-node-protocol": "off",
        "unicorn/prefer-module": "off",
        "no-param-reassign": ["error", { "props": false }],
        "prettier/prettier": ["error"]
    },
    "settings": {
        "import/resolver": {
            "typescript": {}
        }
    }
}
