{
    "trailingComma": "none",
    "tabWidth": 3,
    "semi": true,
    "singleQuote": false,
    "bracketSpacing": true,
    "jsxBracketSameLine": false,
    "arrowParens": "always",
    "printWidth": 120
}