.mainpage {
    width: 80%;
    min-width: 400px;
    margin: auto;
    padding-top: 120px;
}

.findBlock {
    width: 100%;

    background: url(../public/background1.png);
    border-radius: 8px;
    padding: 30px 0 20px 90px;
    box-sizing: border-box;
    object-fit: contain;

    h1 {
        font-weight: 700;
        font-size: 50px;
        line-height: 20px;

        text-transform: uppercase;


        color: #FFFFFF;

        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

        span {
            color: #FF8160;
        }
    }
}

.inputBlock {
    display: flex;
    width: 80%;
    min-width: 350px;
    margin-bottom: 50px;

    button {
        height: 50px;
        width: 120px;

        background: #FFFFFF;
        border-radius: 8px;
        border: 0;

        display: flex;
        align-items: center;
        justify-content: space-around;

        font-weight: 400;
        font-size: 16px;
        text-align: center;
        color: #000000;
    }
}

.inputHolder {

    width: 50%;
    position: relative;

    svg {
        position: absolute;
        right: 0;
        top: 15px;

        cursor: pointer;
    }

    input {
        height: 50px;
        width: 100%;
        margin-left: 20px;
        background: #FFFFFF;
        border-radius: 8px;
        border: 0;
        font-size: 16px;
        box-sizing: border-box;

        padding: 10px;

        &::placeholder {
            color: #000000;

            opacity: 0.2;
        }

        &:focus {
            outline: none;
        }
    }
}

.materialTypes {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 85px;
    flex-wrap: wrap;
    position: relative;

    p {
        position: absolute;

        top: -50px;
        right: 5px;

        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        text-align: center;
        text-decoration-line: underline;
        color: #DB6141;


    }
}

.materialType {
    position: relative;
    height: 200px;
    width: 200px;
    background: rgba(147, 154, 162, 0.1);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 10px;
    margin-top: 10px;
    align-items: center;

    img {
        width: 170px;
        height: 110px;
        object-fit: contain;
        position: absolute;
        bottom: 10px;

    }

    h1 {
        font-weight: 600;
        font-size: 20px;
        text-align: center;

    }
}

.banner {
    margin-top: 20px;
    width: 100%;
    height: 370px;
    background-image: url(../public/backgrounds/1.png);
    background-size: cover;
    position: relative;
    border-radius: 8px;
    margin-bottom: 50px;
}



.infoBlock {

    position: absolute;
    right: 6%;
    top: 50%;
    transform: translate(0, -50%);
    padding: 10px;
    box-sizing: border-box;

    width: 30%;
    min-width: 250px;
    height: 80%;


    background: #FFFFFF;
    opacity: 0.9;
    border-radius: 8px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h1,
    h2 {
        text-align: center;

        color: #000000;
    }

    h1 {
        font-size: 24px;
        font-weight: 600;
    }

    h2 {
        font-size: 16px;
        width: 70%;
        font-weight: 400;
    }

    button {
        width: 320px;
        height: 60px;

        background: #DB6141;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 16px;

        font-weight: 400;
        font-size: 24px;
        color: #FFFFFF;

        border: 0;

        margin-top: 20px;


    }

}

.leftA,
.rightA {
    position: absolute;
    width: 48px;
    height: 48px;

    top: 50%;
    border-radius: 100%;
    transform: translate(0, -50%);
    background: #FFFFFF;
    box-shadow: 0px 4.07988px 4.07988px rgba(0, 0, 0, 0.25);

    display: flex;
    justify-content: center;
    align-items: center;

}

.leftA {
    left: -24px;
    opacity: 0.6;

    svg {
        transform: rotate(180deg)
    }
}

.rightA {
    right: -24px;
}

.dots {
    position: absolute;
    bottom: -40px;
    width: 140px;

    right: 50%;
    transform: translate(50%, 0);

    display: flex;
    justify-content: space-between;
}

.dot,
.dotS {

    width: 16px;
    height: 16px;

    border-radius: 100%;
}

.dotS {
    background: #DB6141;
}

.dot {
    background: #EFF0F5;
}